.goals {
  max-width: 1000px;
  margin: 3rem auto;
  padding: 40px;
}

.goals h1 {
  text-align: center;
}

.goals p {
  margin-top: 1rem;
  color: rgb(75, 74, 74);
  font-weight: 600;
}

.cards {
  display: flex;
  margin-top: 2rem;
  justify-content: space-between;
}

.card {
  border: 0.5px solid rgb(231, 229, 229);
  padding: 20px;
  width: 280px;
}

.card p {
  color: rgb(109, 106, 106);
}

@media (max-width: 820px) {
  .goals {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 40px;
  }
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  .card {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    border-radius: 5px;
  }
}
