.dashboard {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
}

/*........... DASHTOP CSSS/......... */
.dashtop {
  display: flex;
  justify-content: flex-end;
  min-height: 17px;
  border-bottom: 1px solid #d0d0d0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dashtop .search {
  display: flex;
  align-items: center;
  border: 1px solid #d0d0d0;
  border-radius: 8px;
  min-width: 40%;
}

.dashtop .search input {
  border: none;
  padding: 7px;
  width: 100%;
}
.dashtop .user-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30%;
  /* padding: 20px; */
}

.dashtop .user-icons img {
  border-radius: 50%;
  margin-left: 10px;
}

/* =================FEED STYLE======= */
.feed-container {
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid #d0d0d0;
}
/* .feed-main {
  margin: 20px;
  min-height: 700px;
  border: 1px solid #d0d0d0;
} */
.feed-two {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  border: 1px solid #d0d0d0;
  height: 70px;
}
.feed-two .feed-explore p {
  color: rgb(173, 171, 171);
  font-weight: 900;
  margin-top: 10px;
}

.feed-two .feed-post button {
  padding: 10px;
  color: #ffffff;
  background-color: #543ee0;
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.feed-two .feed-post button .edit {
  color: #ffffff;
  margin-right: 5px;
}

/* ===============TOGGLE-FEEED============== */

.toggle-feed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  margin-top: 30px;
  border: 1px solid #d0d0d0;
  height: 70px;
}

/* ===============POST CONTENT============== */
.post-content {
  padding: 20px 50px;
  max-width: 100%;
  border: 1px solid #d0d0d0;
  margin-bottom: 15px;
}
.post-user-info {
  display: flex;
  align-items: center;
}
.post-user-info .post-image img {
  border-radius: 50%;
  height: 70px;
  margin-right: 15px;
}

.post-user-info .post-user-desc p {
  color: #8a8787;
  font-weight: 900;
  font-size: 12px;
}

.post-info span {
  display: flex;
}
.post-info .post-description {
  margin: 10px 0;
}

.post-info img {
  margin-top: 10px;
  height: 400px;
  width: 100%;
}

.post-icons {
  display: flex;
  justify-content: space-between;
}

.post-icons span {
  display: flex;
  align-items: center;
}
.post-icons span p {
  margin-left: 5px;
}

@media (width <=750px) {
  .dashboard {
    width: 100%;
    margin: 0;
  }
  .dashtop {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .dashtop .search {
    flex: 1;
    padding-left: 30px;
  }

  .feed-container {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }

  .feed-two .feed-explore {
    display: none;
  }
  .feed-two .feed-post {
    display: flex;
    justify-content: center;
  }

  .post-content {
    max-width: 100%;
    line-height: 32px;
  }
  .post-content .post-info img {
    height: 250px;
  }
}
