.signup {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.signup h1 {
  margin-bottom: 2rem;
}
.signup input {
  padding: 20px;
  margin: 10px 0;
  width: 100%;
}
.signup label {
  display: block;
}

.signup .signup-left h1 {
  font-weight: 900;
  font-size: 47px;
}

.signup .signup-left p {
  font-weight: 700;
  font-size: 25px;
}

.signup .sign-up {
  flex: 1;
  padding: 100px;
}

.form-names {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.form-names .form-names-first {
  flex: 0.5;
  margin-right: 10px;
}

.form-names .form-names-last {
  flex: 0.5;
  margin-left: 10px;
}

.signup .btn {
  color: #ffffff;
  background-color: #543ee0;
  border: none;
  padding: 1rem;
  margin-top: 10px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

@media (width <=856px) {
  .signup {
    display: flex;
    flex-direction: column;
  }

  .signup .signup-left {
    width: 100%;
    min-height: 500px;
  }

  .signup .sign-up {
    padding: 20px;
  }
}
