.hi {
  margin-top: 2rem;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  border: px solid green;
  cursor: pointer;
}
.taa {
  display: flex;
  justify-content: space-between;
  min-height: 6px;
  border-radius: 8px;
  width: 100%;
}
.reg {
  font-weight: 800;
}

.tabs-active {
  background-color: blue;
  margin-left: 30px;
  margin-right: 30px;
  width: 50%;
}

.active-content {
  display: block;
}

.content {
  display: none;
}
